*

!/.doom.d/
!/.doom.d/**/*
!/alacritty/
!/alacritty/**/*
!/bspwm/
!/bspwm/**/*
!/git/
!/git/**/*
!/latexmk/
!/latexmk/**/*
!/nvim/init.vim
!/polybar/
!/polybar/**/*
!/scripts/
!/scripts/**/*
!/sxhkd/
!/sxhkd/**/*
!/rofi/
!/rofi/**/*
!.gitignore
!.xinitrc
!.zshrc
!install.sh
