*

!/.doom.d/
!/.doom.d/**/*
!/alacritty/
!/alacritty/**/*
!/bspwm/
!/bspwm/**/*
!/latexmk/
!/latexmk/**/*
!/polybar/
!/polybar/**/*
!/scripts/
!/scripts/**/*
!/sxhkd/
!/sxhkd/**/*
!.gitignore
!.xinitrc
!.zshrc
!install.sh
